.company-section-container {
  background-color: #00AD8C15;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  font-family: DM Sans, sans-serif;
  color: #021B51;
  margin: 10px auto;
  width: 90%;
}

.company-section-item {
  margin: 5px;
  width: 30%;
}

.company-section-btn {
  width: 90%;
  margin: 10px auto;
  text-align: center;

  button {
    background-color: #e88d3920;
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
    font-family: DM Sans, sans-serif;
    font-size: 1rem;
    padding: 10px;
    transition: .5s;
    width: 100px;
  }

  button:hover {
    background-color: #e88d39;
    color: #fff;
    font-size: 1.1rem;
  }
}