.form-title {
  font-size: 0.8rem;
  width: 100%;

  h2 {
    margin: 10px;
  }
}

.register-input-item {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 1rem;

  input {
    background-color: #021b5110;
    border: none;
    border-radius: 7.5px;
    color: #021b51;
    text-align: center;
    margin: 0 5px;
  }
  label, input {
    padding: 10px
  }
}

.form-register-buttons {
  margin: 10px auto;
  text-align: center;
  width: 90%;
}

.btn-send,
.btn-cancel {
  border: none;
  border-radius: 7.5px;
  cursor: pointer;
  font-family: DM Sans, sans-serif;
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
  width: 100px;
  font-size: 1rem;
}

.btn-send {
  background-color: #00ad8c20;
  color: #021b51;
}

.btn-send:hover {
  background-color: #00ad8c;
  color: #fff;
  font-size: 1.1rem;
}

.btn-cancel {
  background-color: #e88d3920;
  color: #021b51;
}

.btn-cancel:hover {
  background-color: #e88d39;
  color: #fff;
  font-size: 1.1rem;
}

@media (max-width: 1200px) {
  .form-container {
    justify-content: center;
  }

  .form-title {
    width: 90%;
  }
  .register-input-item {
    font-size: 0.7rem;
    margin: 10px;
    width: 40%;
  }

  input, label {
    width: 90%;
  }
}

.register-container {
  border: 1px solid #021B51;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
}

.register-items {
  width: 33%;
}

.register-item-cnpj {
  width: 100%;
  margin: auto 15px;

  .register-item-label {
    width: 100%;
  }

  .register-item-input {
    width: 100%;
    
    input {
      background-color: #021B5115;
      border: none;
      border-radius: 7.5px;
      margin: 5px auto;
      width: 33%;
    }
  }

}

.register-item {
  width: 90%;
  margin: 0 auto;
  
  select {
    background-color: #EFF1F4;
    border: none;
    border-radius: 7.5px;
    width: 80%;
  }

  input {
    background-color: #021B5115;
    border: none;
    border-radius: 7.5px;
    margin: 5px auto;
    width: 80%;
  }
}

.register-item-input,
.register-item-select,
.register-item-label {
  width: 90%;
  padding: 5px;

  select, input {
    padding: 5px;
    margin-top: 0;
  }
}
.rgister-item-label {
  padding: 0;
  margin: 0;
}

.add-new-order-button {
  margin: 15px 10px;
}

.btn-new-order {
  background-color: transparent;
  border: .75px solid #021B5155;
  border-radius: 7.5px;
  color: #021B51;
  cursor: pointer;
  font-family: DM Sans, sans-serif;
  font-size: 1rem;
  padding: 10px;
  transition: .5s;
}

.btn-new-order:hover {
  background-color: #021B51;
  border: .75px solid #ef6c2b75;
  color: #fff;
}

